<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div
        *ngIf="positions.length !== 0; else empty"
        class="collection"
      >
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
        <span>
            {{position.name}} <strong>{{position.cost}} руб.</strong>
        </span>
          <span>
            <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
        </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">В категории позиций нет</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    #modal
    class="modal"
  >
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input id="pos-name" type="text" formControlName="name"
               [ngClass]="{'invalid': form.controls.name.invalid && form.controls.name.touched}"
        >
        <label for="pos-name">Название</label>
        <span
          class="helper-text red-text"
          *ngIf="form.controls.name.invalid && form.controls.name.touched"
        >
          <span *ngIf="form.controls.name.errors?.['required']">Обязательное поле</span>
        </span>
      </div>
      <div class="input-field">
        <input id="pos-cost" type="number" min="1"
               formControlName="cost"
               [ngClass]="{'invalid': form.controls.cost.invalid && form.controls.cost.touched}"
        >
        <label for="pos-cost">Цена</label>
        <span
          class="helper-text red-text"
          *ngIf="form.controls.cost.invalid && form.controls.cost.touched"
        >
          <span *ngIf="form.controls.cost.errors?.['required']">Обязательное поле</span>
          <span *ngIf="form.controls.cost.errors?.['min']">Введите корректную цену. Минимальное значение 1</span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="onCancel()"
        type="button"
        class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
      >Отмена</button>
      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >Сохранить</button>
    </div>
  </div>
</form>
